{% if blog.tags.size > 0 %}

{%- comment -%}
  `sort_query` is set by the parent section (blog-list) based on the current URL.
  Fall back to detecting it here in case this snippet is rendered standalone.
{%- endcomment -%}
{%- unless sort_query -%}
  {%- assign _ch_parts = content_for_header | split: '"pageurl":"' -%}
  {%- assign _page_url = _ch_parts[1] | default: '' | split: '"' | first | default: '' -%}
  {%- if _page_url contains 'sort=oldest' -%}
    {%- assign sort_query = '?sort=oldest' -%}
  {%- else -%}
    {%- assign sort_query = '' -%}
  {%- endif -%}
{%- endunless -%}

<select
  class="custom-dropdown-select dropdown-select"
  name="FilterTags"
  id="FilterTags"
  data-select-input
  onchange="if(this.value) window.location.href = this.value;"
>

  <!-- View All -->
  <option value="{{ blog.url }}{{ sort_query }}">
    View All Articles
  </option>

  <!-- Tags -->
  {% for tag in blog.all_tags %}
    <option
      value="{{ blog.url }}/tagged/{{ tag | handleize }}{{ sort_query }}"
      {% if current_tags contains tag %}selected{% endif %}
    >
      {{ tag }}
    </option>
  {% endfor %}

</select>

{% endif %}