{% if blog.tags.size > 0 %}

{%- if request.query_string contains 'sort=oldest' -%}
  {%- assign sort_query = '?sort=oldest' -%}
{%- else -%}
  {%- assign sort_query = '' -%}
{%- endif -%}

<select
  class="custom-dropdown-select dropdown-select"
  name="FilterTags"
  id="FilterTags"
  data-select-input
  onchange="if(this.value) window.location.href = this.value;"
>

  <!-- View All -->
  <option value="{{ blog.url }}{{ sort_query }}">
    View All Articles
  </option>

  <!-- Tags -->
  {% for tag in blog.all_tags %}
    <option
      value="{{ blog.url }}/tagged/{{ tag | handleize }}{{ sort_query }}"
      {% if current_tags contains tag %}selected{% endif %}
    >
      {{ tag }}
    </option>
  {% endfor %}

</select>

{% endif %}