<section class="tw-bg-no-repeat tw-relative tw-z-0 before:tw--z-10 before:tw-absolute before:tw-left-0 before:tw-top-0 before:tw-size-full before:tw-bg-menuOverlay tw-bg-cover before:tw-mix-blend-multiply blog-hero-banner"  style="background-image: url({{ section.settings.image | image_url }});">
  <div class="wrapper">
    <div class="tw-h-[500px] sm:tw-h-[600px] md:tw-h-[370px] tw-text-center tw-flex tw-justify-center tw-items-center tw-flex-col tw-gap-4">
      <p class="tw-text-mainGold tw-text-xl md:tw-text-3xl lg:tw-text-4xl tw-font-script">
        {{ section.settings.subheading }}
      </p>
      <h1 class="blog-main-title tw-text-mainOffWhite2 tw-text-4xl md:tw-text-[55px] tw-uppercase tw-tracking-[0.338px] tw-font-osc tw-mx-auto">
        {{ section.settings.heading }}
      </h1>
    </div>
  </div>
</section>

<section class="blog__hero">
  {% if section.settings.featured_article != blank %}
    <a href="{{ section.settings.featured_article.url }}" class="md:tw-w-1/2 tw-w-full">
      <img
        width="620"
        height="500"
        src="{{ section.settings.featured_article.image | img_url: '1240' }}"
        alt="{{ section.settings.featured_article.image.alt }}"
        class="tw-w-full">
    </a>

    <div class="hero__copy">
      <div class="inner text-center">
        <a href="{{ section.settings.featured_article.url }}" class="">
          <h1>{{ section.settings.featured_article.title }}</h1>
        </a>
        <p>{{ section.settings.featured_article.content | strip_html | truncatewords: 20, '...' }}</p>
        <a href="{{ section.settings.featured_article.url }}" class="btn-primary-">Read More</a>
      </div>
    </div>

    {% if section.settings.featured_article.metafields.global.featured_image_mobile != blank %}
      <style>
        .hero__image--mobile {
          display: none;
        }
        @media (max-width: 576px) {
          .hero__image--desktop {
            display: none;
          }

          .hero__image--mobile {
            display: block;
          }
        }
      </style>
    {% endif %}

  {% else %}
    {% for article in blog.articles limit: 1 %}
      <div class="tw-container container-1420 featured-blog-container">
        <div class="tw-flex tw-flex-wrap md:tw-flex-nowrap tw-justify-between tw-items-center">
          <a href="{{ article.url }}" class="md:tw-w-1/2 tw-w-full">
            <img
              width="670"
              height="465"
              src="{{ article.image | image_url }}"
              alt="{{ article.image.alt }}"
              class="tw-w-full">
          </a>

          <div class="md:tw-w-1/2 tw-w-full tw-p-10 featured-right-content">
            <div class="inner tw-text-left">
              <p class="tw-text-mainGold tw-text-xl md:tw-text-3xl lg:tw-text-[35px] tw-font-script">Featured Post</p>
              <a href="{{ article.url }}" class="">
                <h2 class="tw-text-mainBlack2 tw-text-[35px] tw-font-bold tw-font-osc tw-uppercase tw-text-left">
                  {{ article.title }}
                </h2>
              </a>
              <p class="description tw-text-base tw-leading-6 tw-font-os tw-text-mainBlack tw-mt-2 tw-mt-[20px] ">
                {{ article.content | strip_html | truncatewords: 20, '...' }}
              </p>
              {% comment %} <p class="tw-text-sm tw-text-mainBlack tw-font-os tw-italic tw-opacity-60 tw-mt-1">
                {{ article.created_at | date: '%B %d, %Y' }}
              </p> {% endcomment %}
              <a href="{{ article.url }}" class="btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>

      {% if article.metafields.global.featured_image_mobile != blank %}
        <style>
          .hero__image--mobile {
            display: none;
          }
          @media (max-width: 576px) {
            .hero__image--desktop {
              display: none;
            }

            .hero__image--mobile {
              display: block;
            }
          }
        </style>
      {% endif %}
    {% endfor %}
  {% endif %}
  <style>
    .container-1420 {
      max-width: 1400px;
      padding: 0 30px;
    }
    .featured-right-content {
      padding-left: 115px;
    }
    .description {
      padding:20px 0 40px;
      margin: 0;
    }
    .featured-right-content .btn-primary {
      min-width: 150px !important;
      height: 45px;
    }
    .blog__hero {
      padding-top: 45px;
      padding-bottom: 56px;
      background-color: #FEF8E8;
    }
    .blog-hero-banner {
      background-position: center;
    }
    .blog-main-title {
      max-width: 1037px;
      line-height: 62px;
    }
    .featured-right-content  .tw-text-mainBlack2 {
      line-height: 39px;
      font-weight: 800;
    }
    .featured-right-content  .tw-text-mainGold {
      font-size: 30px;
      font-weight: 400;
      padding-bottom: 5px;
    }
    @media (max-width: 1100px) {
      .blog__hero {
        padding-top: 10px;
        padding-bottom: 20px;
      }
      .featured-right-content {
        padding-left: 50px;
        padding-right: 0;
      }
    }
    @media (max-width: 768px) {
      .blog__hero {
        padding-top: 24px;
        padding-bottom: 20px;
      }
      .featured-blog-container img {
        height: 280px;
        object-fit: cover;
      }
      .featured-right-content {
        padding: 27px 0 44px 0;
        border-bottom: 1px solid #A79E8999;
      }
      .featured-right-content h2 {
        font-size: 25px;
        padding-top: 10px;
      }
      .description {
        padding: 27px 0 30px;
      }
    }
  </style>
</section>

{% schema %}
  {
    "name": "Blog Hero",
    "settings": [
      {
        "id": "featured_article",
        "type": "article",
        "label": "Choose Featured Article"
      }, {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      }, {
        "id": "subheading",
        "type": "text",
        "label": "SubHeading"
      }, {
        "id": "image",
        "type": "image_picker",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}