<section class="product-carousel product-carousel--fixed product-carousel--overflow">
  <div class="container">
    <div class="carousel__wrap d-flex justify-between">
      <div class="carousel__header">
        <div class="inner">
          {% if section.settings.pre_heading != blank %}
            <span class="eyebrow">
              {{- section.settings.pre_heading -}}
            </span>
          {% endif %}
          {% if section.settings.heading != blank %}
            <h2>
              {{- section.settings.heading -}}
            </h2>
          {% endif %}
          {% if section.settings.btn_url != blank %}
            <a href="{{ section.settings.btn_url }}" class="btn btn--solid">
              {{- section.settings.btn_text -}}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="carousel__slider">
        {% for block in section.blocks %} 
          <div class="slick-protect">
            {% assign product = block.settings.product %}
            {% render 'default-product' data: product, img_size: '320x320', img_size_2x: '640x640' %}
          </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
</section>

<script>
  jQuery( document ).ready( function( $ ) {
    $( '.product-carousel--overflow .carousel__slider' ).slick({
      {% if section.settings.scroll == true %}
        infinite: false,
        autoplay: true,
      {% else %}
        infinite: false,
      {% endif %}
      slidesToShow: {{ section.settings.slides }},
      slidesToScroll: 1,
      variableWidth: true,
      centerMode: false,
      arrows: true,
      dots: false,
      // responsive: [
      //   {
      //     breakpoint: 576,
      //     settings: {
      //       arrows: false
      //     }
      //   }
      // ]
    } );
  } );
</script>

{% schema %}
{
	"name": "Prod Carousel Overflow",
  "settings": [
    {
      "id": "pre_heading",
      "type": "text",
      "label": "Pre-Heading"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "btn_text",
      "type": "text",
      "label": "Button Text"
    },
    {
      "id": "btn_url",
      "type": "text",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "scroll",
      "label": "Auto Scroll?",
      "default": false
    },
    {
      "id": "slides",
      "type": "number",
      "label": "Slides To Show",
      "default": 4
    }
  ],
  "blocks": [
		{
			"type": "text",
			"name": "Product",
			"settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Product" 
        }
			]
		}
	]
}
{% endschema %}